:root{
  --primary-color: #EFEEEA;
  --secondary-color: #E85A4F;
  --text-color: #8E8D8A;
  --dark-color: #676665;
  --lighter-color: #EFEEEA;

}
 html{
   scroll-behavior: smooth;
 }

 /* SEKCIA I */
.sekciaI {
  background:
    url('https://images.pexels.com/photos/1482803/pexels-photo-1482803.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Roboto Condensed', sans-serif !important;
  color: var(--primary-color);
}


.navbar-brand{
  color: #EFEEEA !important;
  font-size: 1.25rem;
}
.nav-link{
  color: #EFEEEA !important;
  font-size: 1.25rem;
}

.nav-link:hover{
  color: var(--secondary-color) !important;
  transition: 0.5s ease;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--primary-color);
}
.title{
  font-size: 8rem;
  font-weight: bolder !important;
  text-transform: uppercase;
  font-weight: lighter !important;
}
.lead a{
  text-decoration: none;
  margin-top: 10px;
  padding: 10px 14px;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-size: 2rem;
}
.lead a:hover{
  color: var(--secondary-color);
  text-decoration: none;
  background-color: var(--primary-color);
  transition: 0.5s ease-in;
}

/* SEKCIA II */
.sectionII {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--lighter-color);
  padding-bottom: 100px;
}

.sectionII h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--secondary-color);
  padding-bottom: 20px;
}

.sectionII h4 {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--text-color);
  padding-bottom: 10px;
}

.sectionII p {
  color: var(--text-color);
}

.sectionII img {
  width: 90%;
  margin: 20px auto 20px auto;
}

.right {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* SEKCIA III - PORTFOLIO*/
.sekciaIII {
  background-color: var(--lighter-color);
}

.sekciaIII h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--secondary-color);
  padding-bottom: 20px;
  text-align: center;
 }

 .sekciaIII h4 {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--text-color);
  padding-bottom: 10px;
  text-align: center;
 }

.portfolio {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 10px;
  height: 1000px;
}

.portfolio div:nth-child(odd) {
  background-color: #25a0d9;
  padding: 50px;
}

.portfolio div:nth-child(even) {
  background-color: #124861;
  padding: 50px;
}

.one {
  grid-column: 1/3;
  grid-row: 1/5;
  background-image: url('https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.two {
  grid-column: 1/5;
  grid-row: 5/8;
  background-image: url('https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.three {
  grid-column: 3/5;
  grid-row: 1/5;
  background-image: url('https://images.pexels.com/photos/887827/pexels-photo-887827.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.four {
  grid-column: 1/5;
  grid-row: 8/10;
  background-image: url('https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.five {
  grid-column: 1/4;
  grid-row: 10/13;
  background-image: url('https://images.pexels.com/photos/1383776/pexels-photo-1383776.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.six {
  grid-column: 4/5;
  grid-row: 10/13;
  background-image: url('https://images.pexels.com/photos/735869/pexels-photo-735869.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* SEKCIA IV */
.sectionIV {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--lighter-color);
  text-align: right;
}

.sectionIV h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--secondary-color);
  padding-bottom: 20px;
}

.sectionIV h4 {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--text-color);
  padding-bottom: 10px;

}

.sectionIV p {
  color: var(--text-color);
}

.sectionIV img {
  width: 90%;
  margin: 20px auto 20px auto;
}

.left {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


@media(min-width: 900px) {
  /*SEKCIA II*/
  .sectionII {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 0;
  }

  .sectionII img {
    max-width: 40%;
    margin: 20px 20px 20px 20px;
  }

  .right {
    /*background-color: aqua;*/
    padding: 0 50px;
  }

  /*SEKCIA III*/
  .portfolio {
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 98%;
    height: 80vh;
  }

  .one {
    grid-column: 1/4;
    grid-row: 1/6;
  }

  .two {
    grid-column: 4/13;
    grid-row: 1/4;
  }

  .three {
    grid-column: 13/15;
    grid-row: 1/6;
  }

  .four {
    grid-column: 4/12;
    grid-row: 4/5;
  }

  .five {
    grid-column: 4/12;
    grid-row: 5/6;
  }

  .six {
    grid-column: 12/13; 
    grid-row: 4/6;
  }

  /*SEKCIA IV*/
  .sectionIV {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 0;
  }

  .sectionIV img {
    max-width: 40%;
    margin: 20px 20px 20px 20px;
  }

  .left {
    /*background-color: aqua;*/
    padding: 0 50px;
  }
}


.obsah h1{
  font-weight: bold;
}

.Vcontainer img{
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
}

.Vobash{
  width: 100%;
}


.sectionV h4{
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--text-color);
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
}

.sectionV h1 {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--secondary-color);
  padding-bottom: 30px;
  text-align: center;
}


.sectionV p{
  color: var(--text-color);
  text-align: center;
  /* padding-top:; */
  text-transform: lowercase;
  font-size: 1.2rem;
}
.sectionV span{
  color: var(--secondary-color);
}


 /* FOOTER */

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 55px;
  margin-top: 80px;
  color: var(--primary-color);
  text-decoration: none;
}

footer-logo{
  color: var(--secondary-color);
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  var(--primary-color);
	margin: 0;
}

.footer-distributed h3 span{
	color:  var(--secondary-color);
}

/* Footer links */

.footer-distributed .footer-links{
	color:  var(--primary-color);
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-links a:hover{
  color: var(--secondary-color);
  transition: 0.5s ease;
}

.footer-distributed .footer-company-name{
	color:  var(--text-color);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: var(--primary-color);
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: var(--primary-color);
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  var(--secondary-color);
	text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: var(--primary-color);
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover{
  color: var(--secondary-color);
  transition:  0.5s ease;

}

#footer-company-name-small{
  display: none;
}

#gng-studio{
  color: var(--secondary-color);
}

#gng-studio:hover{
  color: var(--text-color);
  transition: 1s ease-out;
}

/* MEDIA QUERIES */

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

  .footer-distributed {
    position: relative;
  }

  .footer-company-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3%;
  }*/

	.footer-distributed .footer-center i{
		margin-left: 0;
  }
  #footer-company-name-big{
    display: none;
  }
  #footer-company-name-small{
    display: unset;
  }
  .title{
    font-size: 5rem;
  }
}

